/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li,
fieldset,
legend,
textarea,
pre,
iframe,
blockquote,
address {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Document typography */
body {
  line-height: 1.5;
}

/* Remove text decoration on anchor elements */
a {
  text-decoration: none;
}

/* Remove borders on images inside links */
img {
  border-style: none;
}

/* Make text selectable */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
mark,
nav,
section,
summary {
  display: block;
}

/* Reset some styles for table elements */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Remove default styles on buttons and inputs */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

/* Reset font styles for input elements */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Remove `outline` style for focused elements */
button,
input,
select,
textarea {
  outline: none;
}

/* Reset font styles for various elements */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Reset line height for sup/sub */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* Reset opacity on audio, canvas, iframe, img, svg, video */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/* Reset cursor value on links and buttons */
a,
button {
  cursor: pointer;
}

li {
  list-style: none;
}